body {
    background-color: #212529;
    color: #fff;
}

.container {
    background-color: #343a408f;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    background-color: #212529b9;
    color: #17a2b8;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.character-container,
.vs-container,
.superhero-container {
    text-align: center;
    padding-right: 20px;
    margin-bottom: 20px;
    box-shadow: 16px 4px 8px rgba(0, 0, 0, 0.1);
}

.character-container img,
.superhero-container img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: all 0.3s ease-in-out;
}

.character-container img:hover,
.superhero-container img:hover {
    filter: brightness(1.5);
}

.vs-container h4 {
    font-size: 50px;
    color: #ff0707;
    margin: 10px 0;
    animation: vsAnimation 2s infinite;
}

.winner-message p {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
    color: #28a745;
     background-color: #212529b9;
}

body {
    background-image: url(img/705204.jpg);
}


@keyframes vsAnimation {
    0% {
        transform: scale(1);
        color: #867e7e;
    }
    50% {
        transform: scale(1.1);
        color: rgb(226, 12, 12);
    }
    100% {
        transform: scale(1);
        color: #948383;
    }
}



a {
    color: #007bff; 
    text-decoration: none; 
    font-weight: bold; 
    background-color: #2125298a;
  }
  
  a:hover {
  color: #ff0707;
    text-decoration: none; 
  }
  audio {
    width: 0px;
    height: 0px;
}