body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
    margin: 0;
    flex-direction: column;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(175, 173, 173);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
}

input[type="text"], input[type="tel"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.valid {
    border: 2px solid green;
}

.invalid {
    border: 2px solid red;
}

.error-message {
    color: red;
}

#submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

#submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.links {
    margin-top: 10px;
}

.links a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
}

footer {
    background-image: linear-gradient(to bottom, #e6e6e6, transparent);
    color: #000000;
    padding: 10px;
    text-align: center;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    text-decoration: none;
    color: #0091e6;
}

footer p {
    margin-top: 10px;
}
